*{
  box-sizing:border-box
}

body{
  background: rgba(0, 0, 0, 0.3);
}

.container {
  width: 645px;
  margin: 120px auto;
  background: white;
  border-top: 8px solid #fad312;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
}

.form {
  margin-left: 39px;
}

.info div {
  font-size: 14px;
  margin: 0;
}

.info div+div {
  padding: 11px 0 22px 0;
}

.notice {
  color: #e74149;
  font-size: 16px;
  margin-bottom: 55px;
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
}

.question::after{
  content: '*';
  color: red;
}

.block {
  margin-bottom: 49px;
}

.ans input {
  width:300px;
  font-size: 16px;
  border: solid 1px #d0d0d0;
  padding: 5px 0;
}

.error{
  color:red;
  font-size:14px;
  display:block;
}

.choice {
  font-size: 14px;
  padding: 0px 0px 25px;
}

.choice div {
  padding-bottom: 20px;
}

.other {
  font-size: 20px;
  padding-bottom: 24px;
}

.submit {
  width: 92px;
  height: 40px;
  border-radius: 3px;
  background: #fad312;
  font-size: 15px;
  border: none;
  margin-bottom: 21px;
}

.reminder {
  font-size: 14px;
  padding-bottom: 35px;
  color: red;
}

.footer__bottom {
  background: black;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 21px;
}