body{
  margin: 0;
  background: #f7f7f7;
}

*{
  box-sizing: border-box;
}

.warning{
  background: #ffc4c6;
  text-align:center;
  color: #a20606;
  padding: 10px;
}

.error{
  color:#a20606;
}

.board{
  background: white;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: 1px 1px 3px #e8e8e8;
  border-radius: 5px;
}

.board__new-comment-form textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #c2dffb;
 }

.board__nickname{
  margin-bottom: 10px;
}

.board__nickname input{
  border: 1px solid #c2dffb;
  padding: 5px;
}

.nickname__edit-btn{
  border: 1px solid #c2dffb;
  border-radius: 5px;
  color: #583c63;
  background: white;
  font-size: 18px;
  width: 60px;
  cursor:pointer;
}

.board__submit-btn{
  padding: 10px;
  border: 1px solid #c2dffb;
  border-radius: 5px;
  color: #583c63;
  background: white;
  font-size: 18px;
  width: 80px;
  cursor:pointer;
}

hr{
  border: 0.5px solid #e8e8e8;
  margin: 20px auto;
  max-width: 98%;
}

.admin{
  margin:10px 0;
  color:cadetblue;
  font-weight: bold;
}

.edit{
  margin-right:10px;
}

.card{
  margin: 20px 0;
  min-height: 70px;
  display: flex;
  border: 1px solid #e0dfdf;
  padding: 10px 5px;
  border-radius: 5px;
}

.card__avatar{
  min-width: 50px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: #e4f0fb;
}

.card__body{
  margin-left: 10px;
}

.card__content{
  margin-top: 8px;
  max-width:100%;
  word-break: break-word;
  white-space: pre-line;
}

.card__author{
  color: #5c9edc;
  font-weight: bold;
}

.card__time{
  color: #a0a0a0;
}

.board__btn{
  padding: 10px ;
  border: 1px solid #c2dffb;
  border-radius: 5px;
  color: #583c63;
  background: white;
  text-decoration:none;
  display: inline-block;
  cursor:pointer;
}

h3{
  color:#2976ba;
}

.hide{
  display:none;
}

.board__nickname-form{
  margin-top:20px;
}

.page-info{
  text-align:center;
}

.paginator{
  display:flex;
  justify-content:center;
  margin-top:10px;
}

.paginator a{
  text-decoration:none;
  color: #5c9edc;
  border: 1px solid #5c9edc;
  border-radius:3px;
  padding: 10px;
}